body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0ebeb;
}

h2.hometitle {
  color: #3085b0;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:link {
  color: #666666;
}

a:visited {
  color: #666666;
}

a:hover {
  color: #95ade3;
}

a:active {
  text-decoration: underline;
}

td.tddatetimecenter {
  text-align: center;
}

td.tdcurrencyalign {
  text-align: right;
}

div.dacc {
  width: 29%;
  height: 330px;
  overflow: scroll;
}

div.dtrack {
  width: 50%;
  height: 415px;
  overflow: scroll;
}

.sticky thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.evbgclr th {
  background-color: #7093fa;
}

.evbgclr tr:nth-child(even) {
  background-color: #bac4e0;
}
