body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0ebeb;
}

h2.hometitle {
  color: #3085b0;
}

a {
  text-decoration: none;
}

a:link {
  color: #666666;
}

a:visited {
  color: #666666;
}

a:hover{
  color: #95ADE3;  
}

a:active{
    text-decoration: underline;
  }

td.tddatetimecenter{
    text-align: center;
}

td.tdcurrencyalign{
    text-align: right;
}

.test tr:nth-child(even){
    background-color: aquamarine;
}